.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-twitter {
  width: 0.9285703301429749em;
}

.icon-github {
  width: 0.8571436107158661em;
}

.icon-windows {
  width: 0.9285712838172913em;
}

.icon-android {
  width: 0.7857138402760029em;
}

.icon-html5 {
  width: 0.7857138514518738em;
}
