extends ./_layout-default.pug

block content
  .container-readable
    each post in page.paginated        
      article
        header.sub-header.text-center            
          a(href=post.url)
            h2.entry-title #{post.title}
          .entry-meta= post.date
        .entry-content!= post.content
      hr.featurette-divider
    include ./../_includes/_pagination.pug
    .section
      p.text-center Subscribe to <a href="/feed.xml">RSS feed</a>
