extends ./_layout-default.pug

block content
  article
    .sub-header.section-medium.text-center
      .container-readable
        h1.section-title #{page.title}
        if page.description
          p.text-muted #{page.description}
    .container-readable!= page.content