extends ./_layout-root.pug

block header
  header.header
    .container
      .header-left
        a(href='/').site-branding
          div(style="width:36px;height:36px;margin:12px 8px 18px 0;float:left")
            include ./../_includes/icons/_kunruch.svg
          h1.title
            .hidden-mobile #{site.title}
      .menu-toggle
        input(type="checkbox")#menu-toggle
        label(for="menu-toggle").header-right
          span.css-icon-hamburger
            span Toggle
          span Menu
        .menu-toggle-content
          +menu(data.menu.main, 'menu')
          .header-right
            +social(data.menu.social)

block footer
  footer.footer
    .container-content.text-center    
      +horizontal-menu(data.menu.footer)
      div
        include ./../_includes/_like-box.html
      +social(data.menu.social)
      div.section Copyright © <a href="https://kunruchcreations.com/">KunRuch Creations</a> - All Rights Reserved <br>
        | Built with <a href="http://mmpilot.kunruchcreations.com/">mmpilot</a> and <a href="http://mmcss.kunruchcreations.com/">mmcss</a>.

block content
  != page.content