---
layout: 'default'
title: 'KunRuch Creations'
description: 'KunRuch Creations is a team of creative professionsals who design, develop and publish apps, games, websites and blogs.'
---

.section-hero
  .container-content
    .grid
      .one-half.section
        h2.section-title Get Our Apps. <span class="text-muted">They'll blow your mind.</span>
        p.text-large With over 3 million downloads, <a href="/apps">apps</a> we publish, speak for themselves. Loved by users worldwide, some of our apps are must have to spice up conversations on Facebook, Twitter &amp Whatsapp.
      .one-half
        a(href="/apps")
          img(alt="SMS Art", class="alignright", src="/apps/smsart/screenshots/sms-art.png")
  
.section-hero.highlight
  .container-content
    .grid
      .one-half
        a(href="http://games.kunruchcreations.com/", target="_blank")
          img(alt="Spooky Planet" class="alignleft", src="/apps/spooky_planet/screenshots/spooky-planet.png")
      .one-half.section
        h2.section-title Play Our Games. <span class="text-muted">Simple addicting &amp; fun.</span></h2>
        p.text-large Need countless hours of fun? Our <a href="http://games.kunruchcreations.com/" target="_blank">games</a> are there to keep you hooked with their simple & addictive gameplay. Available both online as well as on your smart devices, you are never gonna miss any fun.

.section-hero
  .container-content
    .grid
      .one-half.section
        h2.section-title Responsive Templates. <span class="text-muted">Be ahead of the curve.</span>
        p.text-large Leave a lasting impression on your visitors with our beautiful and responsive website templates and WordPress Themes. Handcrafted with ❤ and available completely FREE at a website near you called <a href="https://templateflip.com/", target="_blank">TemplateFlip</a>.
      .one-half
        a(href="https://templateflip.com/", target="_blank")
          img(alt="TemplateFlip", class="alignright", src="/images/responsive-templates.jpg")

.section-hero.highlight
  .container-content
    .grid
      .one-half
        a(href="https://graphicflip.com/", target="_blank")
          img(alt="GraphicFlip" class="alignleft", src="/images/graphic-flip.jpg")
      .one-half.section
        h2.section-title Graphics Assets. <span class="text-muted">Ingredients for beautiful apps &amp; websites.</span></h2>
        p.text-large Developing apps and websites? Why not take your apps and website to the next level with FREE graphics assets like backgrounds, vectors, icons and more from <a href="https://graphicflip.com/", target="_blank">GraphicFlip</a>.

.section-hero
  .container-content
      h2.section-title Resource Portal. <span class="text-muted">Learn the secrets of our Success.</span>
      p.text-large Want to develop apps and games and build modern websites? Join us in this adventure at <a href="https://superdevresources.com/", target="_blank">Super Dev Resources</a> where we share the best tools and resources we use to fuel our success!

.section-hero.highlight
  .container-content(style="text-align:right")
      h2.section-title Open Source Projects. <span class="text-muted">Contributing back to the Community.</span>
      p.text-large We love contributing back to the open source community. Take a look at our <a href="/projects">Open Source Projects</a>, use them in your own projects if you like and don't forget to contribute.

.section-hero
  .container-content
    .grid
      .one-half.text-center
        a(href="http://monikaratan.in/", target="_blank", title="Monika Ratan")
          img(alt="Monika Ratan", class="thumbnail-rounded", height="140" src="http://gravatar.com/avatar/0c7120ee72d4031538d8bf0b0a39a803/?s=140&d=monsterid" width="140")
        h2.section-title Monika Ratan
        p Co-founder
        .text-small
          p.text-muted Creative Head<br/>Consultant, IBM (2008-12) & Capegemini (2012-13)
          a.button.button-ghost(href="http://monikaratan.in/", target="_blank") More about Monika &raquo;
      .one-half.text-center
        a(href="http://kanishkkunal.in/", target="_blank", title="Kanishk Kunal")
          img(alt="Kanishk Kunal", class="thumbnail-rounded", height="140" src="http://gravatar.com/avatar/c5fdca3691bad714c060c25dafa61216/?s=140&d=mm" width="140")
        h2.section-title Kanishk Kunal
        p Co-founder
        .text-small
          p.text-muted Development and Planning Head<br/>Software Development Engineer, Microsoft IDC (2007-2013)
          a.button.button-ghost(href="http://kanishkkunal.in/", target="_blank") More about Kanishk &raquo;