@import "vars";
@import "mmcss/src/mm";

.button.button-ghost {
  border-color: #ddd;
}

.button.button-primary {
  background-color: transparent;
  color: $color-primary;
  font-weight: 500;

  &:hover {
    color: #fff;
  }
}

.button + .button {
  margin-left: 8px;
}

.entry-title, .section-title {
  line-height: 1.5;
  font-weight: 400;

  a {
    color: $color-primary;
  }
}

.share-buttons {
  text-align: center;
  background: $color-primary;
  color: #ecf0f1;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 48px 0;
  
  a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
  }
}

hr {
    background-color: #eee;
}

button.disabled {
  cursor: not-allowed;
  color: #999 !important;
}

.portfolio-list {
  .thumbnail {
    margin-top: 7px;
    width: 126px;
    height: 126px;
  }

  .entry-content {
    font-size: 95%;
    color: #555;
  }

  .media-body {
    padding-left: 1rem;
  }
}

@include mobile {
  .portfolio-list {
    .thumbnail {
      width: 64px;
      height: 64px;
    }

    .entry-title {
      margin-bottom: 0.5rem;
    }

    .media-left .thumbnail + .media-body {
      margin-left: 64px;
    }
  }
}

.featurelist {
  max-width: 600px;
  margin: 0 auto;
}

.user-quote {
  background-color: transparent;
  border: none;
}