@import "vars";
@import "mmcss/src/mm";

.share-buttons {
  text-align: center;
  background: $color-primary;
  color: #ecf0f1;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 48px 0;
  
  a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
  }
}